@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --main-color: #3F88C5;
    --faded-link: 0.5;
    --hovered-link: 1;
    --link-size: 24px;
    --secondary-link-size: 20px;
}

html, body, #root {
    height: 95%;
    font-size: calc(0.5em + 1vw);
}

a:visited, a:hover, a:active, a:link {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul li {
    padding: 20px;
    height: 70%;
    opacity: var(--faded-link);
}

img { 
    height: auto;
    width: 100%;
}

.nav__links  li {
    font-size: 0.55em;
}

.nav__links  li:hover {
    opacity: var(--hovered-link);
    border-bottom: 5px solid var(--main-color)
}

.navbar {
    height: 100px;
    width: 100%;
}

.home__page, .about__page, .projects__page, .contact__page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.name__container, .about__container, .contact__container {
   margin: auto;
}

.projects__container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about__container {
    width: 70%;
    padding: 20px;
}

.name__full {
    font-weight: bold;
    color: var(--main-color);
}

.name__title {
    font-size: 0.65em;
    text-align: center;
    opacity: 0.8;
    color: var(--main-color)
}

.footer__links {
    display: flex;
    list-style: none;
    font-size: 0.55em;
}

.footer__links li:hover {
    opacity: var(--hovered-link);
}

.footer {
  margin: auto;
}

.about__text {
    text-align: justify;
    font-size: 0.50em;
    opacity: 0.6;
    margin-top: 20px;
    line-height: 2em;
}

.about__title {
    border-bottom: 5px solid var(--main-color);
    display: inline;
    font-size: 0.65em;
}

.project__item {
    display: grid;
    width: 70%;
}

.project__description {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project__title {
    font-size: 0.55em;
    margin-bottom: 10px;
    color: var(--main-color)
}

.project__text {
    font-size: 0.55em;
    text-align: justify;
    line-height: 1.5em;
}

.project__links span {
    font-size: 0.55em;
}

.link {
    padding: 20px;
    opacity: var(--faded-link);
}

.link:hover {
    opacity: var(--hovered-link);
}



@media only screen and (max-width: 320px) {
    .about__container {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) {
    html {
        font-size: calc(4em + 1vw);
    }
    .project__item {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: calc(2em + 1vw);
    }

    .project__item {
        grid-template-columns: minmax(min-content, 500px) minmax(min-content, 700px); 
    }
}
